.login-container {
  text-align: center;

  .content-container {
    justify-content: center;
    align-items: center;

    .sign-in-button {
      background: #4caf50;
      color: white;
    }
  }

}
