<div *ngIf="user$ | async as user" class="manage-lists-container">
  <mat-card>
    <mat-card-title>{{user.displayName}}'s Lists</mat-card-title>
    <mat-card-subtitle>Here is a list of your current lists</mat-card-subtitle>
    <mat-card-content>
      <div class="content-container">
        <mat-list *ngIf="projects$ | async">
          <mat-list-item *ngFor="let project of (projects$ | async)">
            <div class="project-list-item">
              <div class="project-list-item-title">{{project.title ? project.title : 'Unnamed Project'}}</div>
              <div class="project-list-item-subtitle">Items: {{project.items ? project.items.length : 0}}</div>
            </div>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
        <div *ngIf="!(projects$ | async)">
          Could not retrieve your lists. You may not have any, or it is taking a little while to load.
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <a [routerLink]="'/create-list'">
        <button mat-button class="create-new-button">Create New List</button>
      </a>
    </mat-card-actions>
  </mat-card>
</div>
