<div *ngIf="user$ | async as user" class="welcome-container">
  <mat-card>
    <mat-card-title>Welcome!</mat-card-title>
    <mat-card-subtitle>Logged in as: {{user.displayName}}</mat-card-subtitle>
    <mat-card-content>
      <div class="content-container">
        <div class="sub-subtitle">What would you like to do?</div>
        <a [routerLink]="'/manage-list'">
          <button class="view-lists-button" mat-button>View Lists</button>
        </a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
