@import '~@angular/material/theming';

@include mat-core();

$Inventory-primary: mat-palette($mat-green);
$Inventory-accent: mat-palette($mat-amber, A200, A100, A400);
$Inventory-warn: mat-palette($mat-red);
$Inventory-theme: mat-light-theme($Inventory-primary, $Inventory-accent, $Inventory-warn);
@include angular-material-theme($Inventory-theme);


html, body {
  height: 100%;
  background: #fafafa
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
